*{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul{
	margin: 0px auto;
	width: 100%;
}
ul>li{
	float: left;
	width: 31%;
	margin: 1%;
	padding-bottom: 31%;
	border: 1% solid #fff;
	background-color: orange;
	border-radius: 10%;
}




					
