*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrap{
	max-width: 1200px;
	margin: 0 auto;
}
.wrap ul{
	overflow: hidden;
	width: 100%;
}
.wrap ul li{
	position: relative;
	float: left;
	width: 32%;
	margin: 1% 0 0 1%;
	padding: 16% 0;
	background-color: orange;
	border-radius: 10%;
}




					
